.visualizer-controls {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.visualizer-button {
  font-size: clamp(0.6em, 2vw, 1em);
}

.visualizer-button.is-primary {
  color: #92cc41 !important;
}
